body {
    background-color: #f1ece3;
    overflow-x: hidden;
}

.bg-body-tertiary {
    background-color: #f1ece3 !important;
}

.imageCon {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-image: url(/brooke-lark-kXQ3J7_2fpc-unsplash.jpg);
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
    /* background-position: center; */
    min-height: 500px;
    margin-bottom: 2rem;
}

h1 {
    margin-left: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
    color: #272d1d;
}

.mainSection {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.allRecepies {
    background-color: green;
    height: 400px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    //* Sticky bottom? */
}

@media (min-width: 370px) {
    .mainSection {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}

/* footer {
    bottom: 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: #272d1d; */
/* display: flex;
    justify-content: center;
    bottom: 0; */
/* align-items: flex-end; */

/* ANNAS E's SIDA */
.recipe-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.712);
    border: 1px solid #ff0000;
    width: 100vw;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ff0000;
}

@media (max-width: 480px) {
    .recipe-details {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ff0000;
    }
}

.recipe-details {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    border: 1px solid rgb(0, 68, 255);
    width: 100%;
}
.recipe-card img {
    width: 100%;
}

@media (min-width: 768px) {
    /* .recipe-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 2rem;
        padding: 1rem;
        background-color: red;
        height: 200px;
    } */
    .recipe-instructions {
        margin: 2rem;
        background-color: blue;
    }
}

.recipe-image {
}
