body {
    background-color: #f1ece3;
    overflow-x: hidden;
}
/* Navbar and header */
.bg-body-tertiary {
    background-color: #f1ece3 !important;
}

.imageCon {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-image: url(/brooke-lark-kXQ3J7_2fpc-unsplash.jpg);
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
    /* background-position: center; */
    min-height: 500px;
    margin-bottom: 2rem;
}

/* Title */
h1 {
    margin-left: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
    color: #272d1d;
}

/* All recipes */
.mainSection {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.recipe {
    /*ändra borderradius till 0, 0, 1rem, 1rem; */
    border-radius: 10px;
    box-shadow: 5px 4px 15px -1px #272d1d;
}

.recipe img {
    width: 100%;
    min-height: 300px;
    object-fit: cover;
}

.recipe .content {
    padding: 20px;
}

/* Delete and view recipe */
.btn-container {
    display: flex;
    justify-content: space-between;
}

.viewRecipe {
    color: black;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

@media (min-width: 480px) {
    .mainSection {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}

/* ANNAS E's SIDA */

/*Loader*/
#loading-viewport {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f1ece3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#loading-viewport img {
    width: 80px;
    height: 80px;
}

/*Recipe site*/
.navbar {
    box-shadow: 0 3px 10px -5px #272d1d;
}

.returnBtn {
    padding: 0.5rem 1rem;
    display: block;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 6px;
}
.returnBtn a {
    text-decoration: none;
    color: inherit;
}
.mainContainer h2 {
    font-size: xx-large;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
}
.recipe-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 1rem auto;
    box-shadow: 5px 4px 15px -1px #272d1d;
    border-radius: 0 0 1rem 1rem;
}
.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipe-details {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.recipe-card img {
    width: 100%;
}
.recipe-instructions {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 2rem;
}
.recipe-instructions h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}
.ingredients {
    margin-bottom: 2rem;
}
/*Comment Section*/
.comment-section {
    /* border: 1px solid red; */
    margin: 1rem;
    text-align: center;
}

.user-comment {
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.464);
    box-shadow: 5px 4px 15px -1px #272d1d26;
    margin: 1rem auto;
    width: fit-content;
    padding: 0.2rem 1rem;
}

.user-comment p {
    margin: 0;
}

.user-comment strong {
    font-size: 1.1rem;
}

/*FORMULÄR*/
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 90%;
    margin: 1rem;
}

input[type='submit'] {
    width: 30%;
}
/*Tablet*/
@media (min-width: 478px) {
    .spacer {
        height: 0.5rem;
        box-shadow: 0 0 10px -1px #272d1d;
        margin-bottom: 2rem;
    }
    .returnBtn {
        display: flex;
        padding: 0.5rem 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 6px;
    }
    .returnBtn a {
        text-decoration: none;
        color: inherit;
    }
    .mainContainer h2 {
        font-size: xx-large;
        margin-top: 1rem;
        text-align: center;
    }
    .recipe-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 90%;
        margin: 1rem auto;
        box-shadow: 5px 4px 15px -1px #272d1d;
    }
    .recipe-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .recipe-details {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    .recipe-instructions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem 0;
        padding: 0 2rem;
    }
}
/*Desktop*/
@media (min-width: 768px) {
    .recipe-container {
        display: flex;
        flex-direction: column;
        width: 60%;
        box-shadow: 5px 4px 15px -1px #272d1d;
        border: 1px solid blue;
    }

    .recipe-details {
        display: flex;
        gap: 0.5rem;
        flex-direction: row;
        align-items: center;
    }
    .recipe-instructions {
        justify-content: space-evenly;
    }
    textarea {
        width: 30%;
        margin: 1rem;
    }
    input[type='submit'] {
        width: 10%;
    }
}

/*random recipe*/
